body {
  margin: 0px;
  padding: 0px;
}

p {
  color: white;
  font-family: 'Roboto', sans-serif;
  text-align: center;
}

@-webkit-keyframes colors {
  0% {
    background-color: #00BBF9;
  }
  50% {
    background-color: #008E97;
  }
  100% {
    background-color: #00BBF9;
  }
}

@keyframes colors {
  0% {
    background-color: #00BBF9;
  }
  50% {
    background-color: #008E97;
  }
  100% {
    background-color: #00BBF9;
  }
}

@media (max-width: 768px) {
  .landing {
    background-color: #00BBF9;
    width: 100vw;
    height: 100vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-animation: colors;
            animation: colors;
    -webkit-animation-duration: 10s;
            animation-duration: 10s;
    -webkit-animation-iteration-count: infinite;
            animation-iteration-count: infinite;
  }
  .landing div {
    width: 80%;
  }
  .landing div .logo {
    width: 100%;
  }
  .landing div p {
    font-size: 16px;
    text-align: justify;
  }
  .landing div .twitterIcon {
    width: 50px;
    height: 50x;
  }
  .landing div div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 100%;
    margin-top: 50px;
  }
}

@media (min-width: 769px) and (max-width: 992px) {
  .landing {
    background-color: #00BBF9;
    width: 100vw;
    height: 100vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-animation: colors;
            animation: colors;
    -webkit-animation-duration: 10s;
            animation-duration: 10s;
    -webkit-animation-iteration-count: infinite;
            animation-iteration-count: infinite;
  }
  .landing div {
    width: 40%;
  }
  .landing div .logo {
    width: 100%;
  }
  .landing div .twitterIcon {
    width: 50px;
    height: 50x;
  }
  .landing div div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 100%;
    margin-top: 50px;
  }
}

@media (min-width: 993px) and (max-width: 2000px) {
  .landing {
    background-color: #00BBF9;
    width: 100vw;
    height: 100vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-animation: colors;
            animation: colors;
    -webkit-animation-duration: 10s;
            animation-duration: 10s;
    -webkit-animation-iteration-count: infinite;
            animation-iteration-count: infinite;
  }
  .landing div {
    width: 40%;
  }
  .landing div .logo {
    width: 100%;
  }
  .landing div .twitterIcon {
    width: 50px;
    height: 50x;
  }
  .landing div div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 100%;
    margin-top: 50px;
  }
}
/*# sourceMappingURL=styles.css.map */